<!-- <mat-card>

    <div class="example-button-row">

        <button mat-mini-fab color="success">

            <mat-icon> thumb_up </mat-icon>

        </button>
      
    
    </div>

</mat-card> -->
<!-- 
<mat-card>
    <div class="example-button-row">
        <button _ngcontent-fxl-c42="" mat-raised-button="" color="success"
            class="mdc-button mdc-button--raised mat-mdc-raised-button mat-success mat-mdc-button-base"
            ng-reflect-color="success" style="
    top: 17px;
"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
            <mat-icon _ngcontent-fxl-c42="" role="img"
                class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true"
                data-mat-icon-type="font">thumb_up</mat-icon><span class="mdc-button__label"  (click)="openDialog()" > Approve </span><span
                class="mat-mdc-focus-indicator"></span><span matripple="" class="mat-ripple mat-mdc-button-ripple"
                ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span
                class="mat-mdc-button-touch-target"></span>
        </button>
        <button _ngcontent-yia-c56="" _ngcontent-ori-c56="" _ngcontent-ngd-c42="" mat-raised-button="" color="warn"
            aria-label="Example fab with a heart icon" ng-reflect-color="warn"
            class="mdc-button mdc-button--raised mat-mdc-raised-button mat-warn mat-mdc-button-base"
            style="left: 130px;bottom: 20px;"><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
            <mat-icon _ngcontent-yia-c56="" role="img" _ngcontent-ori-c56="" _ngcontent-ngd-c42="" aria-hidden="true"
                data-mat-icon-type="font"
                class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color">thumb_down</mat-icon>
            <span class="mdc-button__label"><span _ngcontent-yia-c56=""
                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span _ngcontent-yia-c56=""
                    class="mdc-button__label"><span _ngcontent-yia-c56="" _ngcontent-ori-c56=""
                        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span _ngcontent-yia-c56=""
                        _ngcontent-ori-c56="" class="mdc-button__label"><span _ngcontent-yia-c56=""
                            _ngcontent-ori-c56="" _ngcontent-ngd-c42="">Reject</span></span><span _ngcontent-yia-c56=""
                        _ngcontent-ori-c56="" class="mat-mdc-focus-indicator"></span><span _ngcontent-yia-c56=""
                        _ngcontent-ori-c56="" matripple="" ng-reflect-disabled="false"
                        ng-reflect-trigger="[object HTMLButtonElement]"
                        class="mat-ripple mat-mdc-button-ripple"></span><span _ngcontent-yia-c56=""
                        _ngcontent-ori-c56="" class="mat-mdc-button-touch-target"></span></span><span
                    _ngcontent-yia-c56="" class="mat-mdc-focus-indicator"></span><span _ngcontent-yia-c56=""
                    matripple="" ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"
                    class="mat-ripple mat-mdc-button-ripple"></span><span _ngcontent-yia-c56=""
                    class="mat-mdc-button-touch-target"></span></span><span class="mat-mdc-focus-indicator"></span><span
                matripple="" class="mat-ripple mat-mdc-button-ripple" ng-reflect-disabled="false"
                ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-mdc-button-touch-target"></span>
        </button>
        <button _ngcontent-vsi-c56="" _ngcontent-qcp-c42="" mat-raised-button="" color="accent"
            aria-label="Example fab with a heart icon" ng-reflect-color="accent"
            class="mdc-button mdc-button--raised mat-mdc-raised-button mat-accent mat-mdc-button-base"
            style="left: 250px;bottom: 55px;"><span
                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span class="mdc-button__label"><span
                    _ngcontent-vsi-c56="" class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                    _ngcontent-vsi-c56="" class="mdc-button__label"><span _ngcontent-vsi-c56=""
                        _ngcontent-qcp-c42="">Negotiate</span></span><span _ngcontent-vsi-c56=""
                    class="mat-mdc-focus-indicator"></span><span _ngcontent-vsi-c56="" matripple=""
                    ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"
                    class="mat-ripple mat-mdc-button-ripple"></span><span _ngcontent-vsi-c56=""
                    class="mat-mdc-button-touch-target"></span></span><span class="mat-mdc-focus-indicator"></span><span
                matripple="" class="mat-ripple mat-mdc-button-ripple" ng-reflect-disabled="false"
                ng-reflect-trigger="[object HTMLButtonElement]"></span><span
                class="mat-mdc-button-touch-target"></span></button>
    </div>
</mat-card> -->


