<button mat-icon-button style="float: right;margin: 5px;" matDialogClose>

    <mat-icon>close</mat-icon>
    </button>
    <div class="dialougeclass">
    <h4 class="approve">Rejection Reason:</h4>
    <mat-form-field appearance="fill">
      <mat-label>Select Reason</mat-label>
      <mat-select [disabled]="disableSelect.value">
        <mat-option value="option1">High Salary</mat-option>
      
        <mat-option value="option3">Average Feedback</mat-option>
        <mat-option value="option3">Poor Feedback</mat-option>
        <mat-option value="option3">Fake Case</mat-option>
        <mat-option value="option3">Location issues</mat-option>
        <mat-option value="option3">Others</mat-option>
        
      </mat-select>
    </mat-form-field>
    <h4 class="approve">Comments</h4>
    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Type your comment..."></textarea>
      </mat-form-field>
    </div>
     <mat-dialog-actions align="center" (click)="alertWithSuccess()">
      <button class="Reject" mat-raised-button color="warn" matDialogClose>Reject</button>
    </mat-dialog-actions>